PORT = 3000
MONGODB_USER = tishakovaevgeniya
MONGODB_PASSWORD = J4EIgo5G9HPNMUun
MONGODB_URL = cluster0.2ivg3lk.mongodb.net
MONGODB_DB =

mongodb+srv://tishakovaevgeniya:J4EIgo5G9HPNMUun@cluster0.2ivg3lk.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
